@font-face {
    font-family: "wakanda4ever";
    src: url(../assets/fonts/Font/WakandaForever-Regular.ttf);
}
@font-face {
    font-family: beyno;
    src: url(../assets/fonts/Font/BEYNO.ttf);
}

@font-face {
    font-family: Cantarell;
    font-weight: 100;
    src: url(../assets/fonts/Font/Cantarell-Regular.ttf);
}

@font-face {
    font-family: PantheraRegular;
    src: url(../assets/fonts/Font/PantheraRegular-MVZ9J.ttf);
}


#enigme_section{
    display: flex;
}

#enigme_section #image_dora{
    width: 50%;
    height: 700px;
}

#enigme_section #releve{
    width: 50%;
    padding: 50px 0 0 0 ;
}

#image_dora{
    background-image: url(../assets/images/Enigme/Pantherenigme1.png);
    background-size: 150%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#enigme_section #releve h3{
    text-align: justify;
    font-size: 40px;
}

#enigme_section #releve #descri{
    background-image: url(../assets/images/Enigme/Pantherenigme2.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

#enigme_section #releve p{
    width: 340px;
    text-align: justify;
    font-size: x-small;
    padding: 50px 100px 0 0;
    position: relative;
    left: 100px;
    top: 50px;
}

#img_ligne {
    position: absolute;
    top: 90%;
    margin-left: 220px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#section_principale{
    padding: 200px;
}

#section_principale > div{
    display: flex;
    vertical-align: baseline;
}

#section_principale h2 {
    font-family: beyno;
    font-size: 14px;
    width: 400px;
    color: #9e91b7;
    text-decoration: underline;
}

#section_principale > #cit{
    font-family: "wakanda4ever";
    width: 400px;
    font-size: large;
    color: #9e91b7;
    font-size: 14px;
    letter-spacing: 12px;
    text-align: justify;
    text-decoration: none;
}

#section_principale >#binaire {
    width: 400px;
    font-size: large;
    color: #9e91b7;
    font-size: 7px;
    letter-spacing: 3px;
    text-align: justify;
}

#section_principale p {
    font-family: Cantarell;
    font-size: 10px;
    color: #F2CEF2;
    width: 400px;
}

h4{
    color: white;
    letter-spacing: normal;
    font-size: small;
}

#principale p{
    width: 400px;
    font-size: small;
    font-family: PantheraRegular;
}


#reponse{
    margin-top: 100px;
}

#reponse input{
    border: solid 1px #9e91b7;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: transparent;
    width: 300px;
    display: block;
}

#reponse button{
    margin-top: 20px;
    width: 100px;
    padding: 10px 0px;
    color: #021740;
    border-radius: 30px;
    border: none;
    background-color: #debbe8f4;
    box-shadow: 1px 1px 20px #3d2da6;
    margin-left: 130px;
}

#reponse button:hover{
    background-color: white;
    color: #3d2da6;
    box-shadow: 1px 1px 20px white;
}

#savoir{
    background-image: url(../assets/images/Enigme/Pantherenigme0.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    margin-left: 40px;

}

#savoir p{
    position: relative;
    top: 90px;
    left: 75px;
    font-size: x-small;
    text-align: left;
    width: 250px;
    font-size: 5px;
}
#savoir span {
    font-family: "wakanda4ever";
}

@media (max-width: 700px) {
    
    #image_dora{
        display: none;
    }

    #releve h3{
        width: 250px;
        margin-left: 50px;
        text-align: left;
    }

    #descri{
        margin-left: -75px;
        background-image: none;
        background: none;
    }

    #section_principale{
        padding: 50px;
    }

    h2{
        width: 400px;
        font-size: large;
        color: #9e91b7;
        font-weight: 100;
        letter-spacing: 10px;
    }

    #section_principale div{
        display: block;
    }

    #savoir{
        background-image: url(../assets/images/Enigme/Pantherenigme2.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        right: 100px;
        bottom: 120px;
    }    
    
}
/*
.socios {
    margin-left: 2em;
    padding-top: 1em;
    position: relative;
    top: calc(var(--hauteurBar) - 11.4em);
    z-index: 500;
    display: block;
}
.socios .socios-item {
    margin-block: 1em;
}

.socios .socios-item img:hover{
    transform: rotateZ(360deg);
    transition: 1s;
}

.bar {
    width: 3px;
    background-color: #f2cef2;
    height: var(--hauteurBar);
    position: absolute;
    left: 1.2em;
}


.bar::after {
    content: "";
    width: 3px;
    background-color: #f2cef2;
    height: calc(var(--hauteurBar) - 10em);
    position: absolute;
    left: 1.5em;
}*/